/* You can add global styles to this file, and also import other style files */
*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  margin: 0;
  background-color: #454d55;
}

body{
  background-color: #454d55;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span{
  color: rgb(245, 57, 57);
}
